/* Typography */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Textarea */
textarea,
.time-block .description {
  background: transparent;
  border: 10px solid black;
  border-left: 1px solid black;
  color: #000000;
  padding: 10px;
  resize: none;
}

/* Jumbotron */
.jumbotron {
  background-color: transparent;
  border-bottom: 10px solid black;
  border-radius: 0;
  color: black;
  text-align: center;
}

/* Time Block */
.time-block {
  border-radius: 15px;
  text-align: center;
}

.time-block .hour {
  background-color: #ffffff;
  border-top: 1px solid #000000;
  color: #000000;
}

.time-block .saveBtn,
.saveBtn {
  background-color: #06aed5;
  border-left: 1px solid black;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
}

.time-block .saveBtn i:hover,
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Row */
.row {
  border-top: 1px solid white;
  height: 80px;
  white-space: pre-wrap;
}

/* Hour */
.hour {
  background-color: #ffffff;
  border-left: 1px solid black;
  border-right: 10px solid black;
  border-top: 10px solid #000000;
  color: #000000;
}

/* Past, Present, Future */
.past {
  background-color: #cce3ed;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
